# Probando Django en Jupyter Notebook

In [1]:
from people.models import Person

In [21]:
for x, p in enumerate(Person.employees.order_by('names')):
    print x+1, p

1 Alejandro Martinez
2 Angel Manuel Rodriguez
3 José Ramón Contreras
4 Juan Manuel De la Rosa
5 Juana María Santos
6 María José Rosario Almonte

In [3]:
employees = Person.employees.all()

In [4]:
for x, e in enumerate(employees):
    print x+1, e

1 Juan Manuel De la Rosa
2 Angel Manuel Rodriguez
3 María José Rosario Almonte
4 Juana María Santos
5 José Ramón Contreras
6 Alejandro Martinez

In [23]:
members = Person.members.order_by('names')

In [24]:
for x, m in enumerate(members):
    print x+1, m

1 Amalfy Eugenia Mendosa
2 Cristina María Fernandez
3 Gloria María Encarnación
4 Juan Valdez
5 Marcos Eugenio Mendez
6 Marta Santos
7 Orfilia Diaz
8 Pablo García
9 Ramona Altagracia Contreras
10 Rosa Emilia Perez Martinez
11 Vladimir Oscar Gonzalez
12 Víctor Manuel Ceballos
13 Wanda Gonzalez

In [25]:
for x, m in enumerate(members):
    print x+1, m

1 Amalfy Eugenia Mendosa
2 Cristina María Fernandez
3 Gloria María Encarnación
4 Juan Valdez
5 Marcos Eugenio Mendez
6 Marta Santos
7 Orfilia Diaz
8 Pablo García
9 Ramona Altagracia Contreras
10 Rosa Emilia Perez Martinez
11 Vladimir Oscar Gonzalez
12 Víctor Manuel Ceballos
13 Wanda Gonzalez

In [9]:
from members.admin import MemberResource

In [10]:
dataset = MemberResource().export()

In [11]:
print dataset.csv

names,father_last_name,mother_last_name,gender,birth_day,document_id,email,status,member_number,academic_level__name,nationality__name,marital_status__name,document_type__name
Juan,Valdez,,M,1976-06-18,000-000000-0,,1,13,Secundaria, Dominicano,Soltero(a),Cédula
Orfilia,Diaz,,F,1965-02-06,000-0000000-0,odiaz@hotmail.com,1,12,Universidad, Hondureño,Casado(a),Pasaporte
Wanda,Gonzalez,,F,1974-02-15,000-0000000-0,,1,11,Secundaria, Dominicano,Soltero(a),Cédula
Marta,Santos,,F,1975-02-15,000-0000000-0,,1,10,Secundaria, Dominicano,Soltero(a),Cédula
Cristina María,Fernandez,,F,1978-02-15,000-0000000-0,,1,9,Universidad, Dominicano,Casado(a),Cédula
Rosa Emilia,Perez,Martinez,F,1978-02-15,000-0000000-0,,1,8,Secundaria, Dominicano,Soltero(a),Cédula
Gloria María,Encarnación,,F,1950-02-15,000-0000000-0,gencarnacion@gmail.com,1,7,Primaria, Dominicano,Viudo(a),Cédula
Marcos Eugenio,Mendez,,M,1989-02-06,000-0000000-0,,1,6,Secundaria, Dominicano,Divorsiado(a),Cédula
Víctor Manuel,Ceballos,,M,1974-02-05,000-0000000-0,,1,5,Primaria, Dominicano,Soltero(a),Cédula
Vladimir Oscar,Gonzalez,,M,1975-02-05,000-0000000-0,,1,4,Secundaria, Dominicano,Casado(a),Cédula
Amalfy Eugenia,Mendosa,,F,2000-02-03,000-0000000-0,,1,3,Universidad, Dominicano,Soltero(a),Cédula
Pablo,García,,M,1999-01-31,000-0000000-0,pablogarcia@hotmail.com,1,2,Secundaria, Haitiano,Casado(a),Cédula
Ramona Altagracia,Contreras,,F,1950-07-27,000-0000000-0,,0,1,Universidad, Dominicano,Viudo(a),Cédula

In [12]:
from people.models import PersonAddress

In [13]:
addresses = PersonAddress.objects.exclude(location__isnull=True)

In [14]:
for x, a in enumerate(addresses):
    print x+1, a.location

1 La Lomota
2 Las palomas
3 Ensanche Roman
4 Buenos Aires
5 Altos de Rafey
6 Altos de Rafey
7 Villa Verde
8 Altos de Rafey
9 Ensanche Roman
10 Buenos Aires
11 El Ingenio
12 Altos de Rafey

In [1]:
from people.models import Person

In [7]:
miembros = Person.members.order_by('names')

In [8]:
for miembro in miembros:
    print miembro

Amalfy Eugenia Mendosa
Cristina María Fernandez
Gladis Ramona Contreras Santos
Gloria María Encarnación
Juan Valdez
Marcos Eugenio Mendez
Marta Santos
Orfilia Diaz
Pablo García
Ramona Altagracia Contreras
Rosa Emilia Perez Martinez
Vladimir Oscar Gonzalez
Víctor Manuel Ceballos
Wanda Gonzalez

In [9]:
activos = Person.active_person.all()

In [10]:
for a in activos:
    print a

Juan Manuel De la Rosa
Ana María De la Rosa
Ramona Altagracia Contreras
Julia Maria Almanzar Contreras
Fernando Antonio Fernandez
Marcos Antonio Aybar
Luisa María Alvares
Angel Manuel Rodriguez
María José Rosario Almonte
Juana María Santos
Pablo García
Juan Pablo García
José Ramón Contreras
Alejandro Martinez
Amalfy Eugenia Mendosa
Pablo Junior García
Ana María Polo
Juan Manuel Cerrat
Rosa María Fernandez
Ana Simó
Plutarco Arias
Vladimir Oscar Gonzalez
Víctor Manuel Ceballos
Marcos Eugenio Mendez
Carla Maria Contreras
Gloria María Encarnación
Laura María Encarnación
Rosa Emilia Perez Martinez
Marcos Perez
Cristina María Fernandez
Ana Torres Fernandez
Marta Santos
Wanda Gonzalez
Ariel Gonzalez
Angela Gonzalez
Orfilia Diaz
Juan Jose Contreras Diaz
Ana María Contreras
Juan Valdez
Ramón Belliard
Gladis Ramona Contreras Santos
Carmen María Ferreyra Contreras
Domingo Antonio Ferreyra Contreras
Ramón Emilio Ferreyra Contrera

In [11]:
miembros = Person.members.order_by('names')

In [13]:
for x, m in enumerate(miembros):
    print x+1, m

1 Amalfy Eugenia Mendosa
2 Cristina María Fernandez
3 Gladis Ramona Contreras Santos
4 Gloria María Encarnación
5 Juan Valdez
6 Marcos Eugenio Mendez
7 Marta Santos
8 Orfilia Diaz
9 Pablo García
10 Ramona Altagracia Contreras
11 Rosa Emilia Perez Martinez
12 Vladimir Oscar Gonzalez
13 Víctor Manuel Ceballos
14 Wanda Gonzalez

In [14]:
miembros_activos = Person.members.filter(status=True)

In [15]:
for x, ma in enumerate(miembros_activos):
    print x+1, ma

1 Pablo García
2 Amalfy Eugenia Mendosa
3 Vladimir Oscar Gonzalez
4 Víctor Manuel Ceballos
5 Marcos Eugenio Mendez
6 Gloria María Encarnación
7 Rosa Emilia Perez Martinez
8 Cristina María Fernandez
9 Marta Santos
10 Wanda Gonzalez
11 Orfilia Diaz
12 Juan Valdez
13 Gladis Ramona Contreras Santos

In [16]:
miembros_inactivos = Person.members.filter(status=False)

In [17]:
for x, mi in enumerate(miembros_inactivos):
    print x+1, mi

1 Ramona Altagracia Contreras