# Probando Django en Jupyter Notebook

In [3]:
from people.models import Person

In [6]:
Person.employees.all()

In [7]:
employees = Person.employees.all()

In [13]:
for x, e in enumerate(employees):
    print x+1, e

1 Juan Manuel De la Rosa
2 Angel Manuel Rodriguez
3 María José Rosario Almonte
4 Juana María Santos
5 José Ramón Contreras
6 Alejandro Martinez

In [14]:
members = Person.members.all()

In [15]:
for x, m in enumerate(members):
    print x+1, m

1 Ramona Altagracia Contreras
2 Pablo García
3 Amalfy Eugenia Mendosa
4 Vladimir Oscar Gonzalez
5 Víctor Manuel Ceballos
6 Marcos Eugenio Mendez
7 Gloria María Encarnación
8 Rosa Emilia Perez Martinez
9 Cristina María Fernandez
10 Marta Santos
11 Wanda Gonzalez
12 Orfilia Diaz

In [16]:
for x, m in enumerate(members):
    print x+1, m.id, m

1 3 Ramona Altagracia Contreras
2 11 Pablo García
3 15 Amalfy Eugenia Mendosa
4 22 Vladimir Oscar Gonzalez
5 23 Víctor Manuel Ceballos
6 24 Marcos Eugenio Mendez
7 27 Gloria María Encarnación
8 29 Rosa Emilia Perez Martinez
9 31 Cristina María Fernandez
10 33 Marta Santos
11 35 Wanda Gonzalez
12 38 Orfilia Diaz

In [1]:
from members.admin import MemberResource

In [2]:
dataset = MemberResource().export()

In [3]:
print dataset.csv

names,father_last_name,mother_last_name,gender,birth_day,document_id,email,status,member_number,academic_level__name,nationality__name,marital_status__name,document_type__name
Juan,Valdez,,M,1976-06-18,000-000000-0,,1,13,Secundaria, Dominicano,Soltero(a),Cédula
Orfilia,Diaz,,F,1965-02-06,000-0000000-0,odiaz@hotmail.com,1,12,Universidad, Hondureño,Casado(a),Pasaporte
Wanda,Gonzalez,,F,1974-02-15,000-0000000-0,,1,11,Secundaria, Dominicano,Soltero(a),Cédula
Marta,Santos,,F,1975-02-15,000-0000000-0,,1,10,Secundaria, Dominicano,Soltero(a),Cédula
Cristina María,Fernandez,,F,1978-02-15,000-0000000-0,,1,9,Universidad, Dominicano,Casado(a),Cédula
Rosa Emilia,Perez,Martinez,F,1978-02-15,000-0000000-0,,1,8,Secundaria, Dominicano,Soltero(a),Cédula
Gloria María,Encarnación,,F,1950-02-15,000-0000000-0,gencarnacion@gmail.com,1,7,Primaria, Dominicano,Viudo(a),Cédula
Marcos Eugenio,Mendez,,M,1989-02-06,000-0000000-0,,1,6,Secundaria, Dominicano,Divorsiado(a),Cédula
Víctor Manuel,Ceballos,,M,1974-02-05,000-0000000-0,,1,5,Primaria, Dominicano,Soltero(a),Cédula
Vladimir Oscar,Gonzalez,,M,1975-02-05,000-0000000-0,,1,4,Secundaria, Dominicano,Casado(a),Cédula
Amalfy Eugenia,Mendosa,,F,2000-02-03,000-0000000-0,,1,3,Universidad, Dominicano,Soltero(a),Cédula
Pablo,García,,M,1999-01-31,000-0000000-0,pablogarcia@hotmail.com,1,2,Secundaria, Haitiano,Casado(a),Cédula
Ramona Altagracia,Contreras,,F,1950-07-27,000-0000000-0,,0,1,Universidad, Dominicano,Viudo(a),Cédula