# Probando Django en Jupyter Notebook

In [3]:
from people.models import Person

In [6]:
Person.employees.all()

In [7]:
employees = Person.employees.all()

In [13]:
for x, e in enumerate(employees):
    print x+1, e

1 Juan Manuel De la Rosa
2 Angel Manuel Rodriguez
3 María José Rosario Almonte
4 Juana María Santos
5 José Ramón Contreras
6 Alejandro Martinez

In [14]:
members = Person.members.all()

In [15]:
for x, m in enumerate(members):
    print x+1, m

1 Ramona Altagracia Contreras
2 Pablo García
3 Amalfy Eugenia Mendosa
4 Vladimir Oscar Gonzalez
5 Víctor Manuel Ceballos
6 Marcos Eugenio Mendez
7 Gloria María Encarnación
8 Rosa Emilia Perez Martinez
9 Cristina María Fernandez
10 Marta Santos
11 Wanda Gonzalez
12 Orfilia Diaz

In [16]:
for x, m in enumerate(members):
    print x+1, m.id, m

1 3 Ramona Altagracia Contreras
2 11 Pablo García
3 15 Amalfy Eugenia Mendosa
4 22 Vladimir Oscar Gonzalez
5 23 Víctor Manuel Ceballos
6 24 Marcos Eugenio Mendez
7 27 Gloria María Encarnación
8 29 Rosa Emilia Perez Martinez
9 31 Cristina María Fernandez
10 33 Marta Santos
11 35 Wanda Gonzalez
12 38 Orfilia Diaz